<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/bot/style.css' %}">
    <title>Бот реестра</title>
</head>
<body>
    <div class="page">
        <h1 class="info">Информация о госзадании и его исполнении</h1>
        <form class="input_inn" action="{% url 'search_results' %}" method="get">
            <input class='input_date' name="q" type="text" placeholder="Найти...">
        </form>
    </div>
</body>
</html>